<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>.com.asdf.postgres</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/lucas/.asdf/installs/postgres/13.4/bin/postgres</string>
      <string>-D</string>
      <string>/Users/lucas/.asdf/installs/postgres/13.4/data</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/lucas</string>
    <key>StandardOutPath</key>
    <string>/Users/lucas/.asdf/installs/postgres/13.4/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/lucas/.asdf/installs/postgres/13.4/stderr.log</string>
    <key>UserName</key>
    <string>lucas</string>
  </dict>
</plist>